.table {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.table-row {
    display: flex;
}

.header-row {
    font-weight: bold;
}

.table-cell {
    flex: 2;
    border: 1px solid gray;
    padding: 8px;
}